<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Scraper for Ars Technica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            <button type="button" class="btn btn-danger my-2 mr-2 delete-all-articles">Delete All</button>
        </form>
    </div>
</nav>

<div class="d-flex flex-row flex-wrap justify-content-center">
    {{#each articles}}
        <div class="card m-3" data-_id={{this._id}}>
            <img src={{this.imgUrl}} class="card-img-top">
            <div class="card-body d-flex flex-column">
                <a href={{this.link}} target="_blank">
                    <h5 class="card-title">{{this.title}}</h5>
                </a>
                <p class="card-text">{{this.subtitle}}</p>
                <div class="d-flex flex-row flex-wrap justify-content-center mt-auto">
                    <button type="button" class="btn btn-primary m-2 article-notes" data-toggle="modal" data-target="#notes-modal">Article Notes</button>
                    <button type="button" class="btn btn-danger m-2 delete-article">Delete</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notes-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group notes-list"></ul>
                <textarea class="form-control mt-2" id="notes-textarea" rows="3" placeholder="Enter a new note"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-note">Save Note</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/saved.js"></script>